<?xml version="1.0" encoding="Windows-1252"?>
<Configuration>
	<!-- Multiple instances are supported. Each instance has its own node in the config file. -->
	
	<ChatServer DisplayName="ChatServer">
		<TCPListeners>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4000"
				OverrideApplication="ChatServer" />
		</TCPListeners>
		<Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			UnhandledExceptionPolicy="Ignore" />
		<Applications Default="ChatServer">
			<Application 
				Name="ChatServer"
				BaseDirectory="Chat"
				Assembly="ChatServer"
				Type="Chat.Server" />
		</Applications>
	</ChatServer>
</Configuration>
